.pio/
.idea/
*.bin
*.elf
*.map
.DS_Store
Thumbs.db
firmware/.pio/
firmware/.pioenvs/
firmware/.piolibdeps/
cloud/data/
*.log

# Local test artifacts
cloud/query.flux
cloud/test-msg.json

# Python
__pycache__/
*.pyc
.venv/
